includes:
    - ./phpstan.base.neon
parameters:
    bootstrapFiles:
        - %currentWorkingDirectory%/tests/bootstrap.php
    paths:
        - daemons
        - directory
        - libraries
        - provider
        - models
        - Df.Genesis.php

    excludePaths:
        - libraries/core/archive/Rar.php
        - libraries/core/archive/Snappy.php

    parallel:
        processTimeout: 300.0
