includes:
    - ./phpstan.extension.neon
parameters:
    bootstrap: %currentWorkingDirectory%/tests/bootstrap.php
    paths:
        - daemons
        - directory
        - libraries
        - models
    ignoreErrors:
        - '#^Access to constant PASS_KEY on an unknown class df\\apex\\App\.#'
        -
            message: '#^Offset [^ ]+ does not exist on string\.#'
            path: libraries/link/http/upload/File.php
