parameters:
    level: 1
    inferPrivatePropertyTypeFromConstructor: true

    excludePaths:
        - */_templates/*.html.php
        - */_templates/*.xml.php
        - */_templates/*.mail.php

    universalObjectCratesClasses:
        - df\arch\Scaffold
        - df\axis\IModel
        - df\axis\IUnit
        - df\core\IContext
        - df\core\IContextAware
        - df\core\IHelperProvider
        - df\core\collection\ITree
        - df\core\i18n\Manager
        - df\core\uri\IUrl
        - df\opal\record\IRecord
        - df\user\Manager

    ignoreErrors:
        #- '#^Call to an undefined method df\\(aura\\view\\content\\WidgetContentProvider|arch\\node\\IDelegate|mesh\\job\\IQueue)\:\:#'
        #- '#^Instantiated class (df\\apex\\App|df\\apex\\directory\\front\\HttpRootNodeRouter) not found\.$#'
        #- '#^Cannot access offset .+ on object\.$#'

        # Fix these:
        - '#^Unsafe usage of new static\(\)\.$#'

services:
    -
        class: DecodeLabs\PHPStan\Plug\HtmlReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: DecodeLabs\PHPStan\Plug\InvokeReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
