includes:
    - ./phpstan.base.neon
parameters:
    bootstrapFiles:
        - %currentWorkingDirectory%/tests/bootstrap.php
    paths:
        - daemons
        - directory
        - libraries
        - models

    excludes_analyse:
        - libraries/core/archive/Rar.php
        - libraries/core/archive/Snappy.php

services:
    -
        class: DecodeLabs\PHPStan\Plug\HtmlReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: DecodeLabs\PHPStan\Plug\InvokeReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension
