<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
>

    <filter>
        <whitelist>
            <directory>libraries</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="link">
            <directory>tests/link</directory>
        </testsuite>

    </testsuites>
</phpunit>
